<a href="https://colab.research.google.com/github/jmelendezgeo/Exploratory-analysis-/blob/main/EnegySupply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction
**English**

In this notebook an exploratory analysis of various data sets is made with certain information from countries. The information will go through a Data Cleaning process to be able to unify the format in a DataFrame with which we will continue working to obtain certain insights and statistics. 

**Spanish**.

En esta libreta se hace un **análisis exploratorio** de diversos set de datos con cierta información de países. La información pasará por un proceso de **Limpieza de Datos** para poder unificar el formato en un DataFrame con el que continuaremos trabajando para obtener ciertos insights y estadísticas.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

import warnings
warnings.filterwarnings('ignore')

## Data load & Data Cleaning

**English**

The information contained in 'Energy Indicators' corresponds to the supply of energy and production of renewable electricity of United Nations of 2013 


**Spanish**

La información contenida en 'Energy Indicators' corresponde a *Suministro de energía y producción de electricidad renovable* de [United nations](https://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) del 2013

In [3]:
#First, we are going to load the data contained in an .xls file (excel file). 
#In the file we have information in the header and in the footer so we exclude this information from our DataFrame 
Energy = pd.read_excel('Energy Indicators.xls', skiprows = 17, skipfooter = 38)
Energy.head()

   Unnamed: 0      Unnamed: 1      Unnamed: 2 Petajoules Gigajoules           %
0         NaN     Afghanistan     Afghanistan        321         10   78.669280
1         NaN         Albania         Albania        102         35  100.000000
2         NaN         Algeria         Algeria       1959         51    0.551010
3         NaN  American Samoa  American Samoa        ...        ...    0.641026
4         NaN         Andorra         Andorra          9        121   88.695650

In [4]:
# The first two columns are unnecessary. We also need to name our columns appropriately 
Energy.drop(columns = ['Unnamed: 0','Unnamed: 1'], inplace = True)
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan           321                       10    78.669280
1         Albania           102                       35   100.000000
2         Algeria          1959                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra             9                      121    88.695650

In [5]:
# It seems that in our Energy Supply column there is information that is not real (eg '...'). 
# When reviewing the dataset information, the '...' means no data. 
# We will use np.nan to replace these strings
~Energy.applymap(np.isreal)

     Country  Energy Supply  Energy Supply per Capita  % Renewable
0       True          False                     False        False
1       True          False                     False        False
2       True          False                     False        False
3       True           True                      True        False
4       True          False                     False        False
..       ...            ...                       ...          ...
222     True          False                     False        False
223     True          False                     False        False
224     True          False                     False        False
225     True          False                     False        False
226     True          False                     False        False

[227 rows x 4 columns]

In [6]:
# True's mean that the values are not real. With this we could recognize the strings.
# In our columns, except for 'Country', we should have real numbers

# Replace empty data (as ...) to np.nan values
Energy.replace('\.{2,}',np.nan, regex = True, inplace = True)

# PetaJoule to GigaJoule. Let's convert to the same units of energy 
Energy['Energy Supply'] = Energy['Energy Supply'] * 1000000
Energy[10:15]

       Country  Energy Supply  Energy Supply per Capita  % Renewable
10       Aruba   1.200000e+07                     120.0    14.870690
11  Australia1   5.386000e+09                     231.0    11.810810
12     Austria   1.391000e+09                     164.0    72.452820
13  Azerbaijan   5.670000e+08                      60.0     6.384345
14     Bahamas   4.500000e+07                     118.0     0.000000

In [7]:
# Here are some country names to clean up. This problem is very common. 
# We will pass a filter that removes the information between parentheses and numbers in the name 
# We also correct the names of some countries with a dictionary 
Energy['Country']=Energy['Country'].str.extract('(^[a-zA-Z\s\,]+)',expand = False)
# Corregir algunos nombres de paises
Energy.replace({"Republic of Korea": "South Korea",
            "United States of America": "United States",
            "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
            "China, Hong Kong Special Administrative Region": "Hong Kong",
               "Iran ":'Iran'}, inplace=True)
# Finally, we assign the name of the country as index
Energy = Energy.set_index('Country')

In [8]:
Energy.head()

                Energy Supply  Energy Supply per Capita  % Renewable
Country
Afghanistan      3.210000e+08                      10.0    78.669280
Albania          1.020000e+08                      35.0   100.000000
Algeria          1.959000e+09                      51.0     0.551010
American Samoa            NaN                       NaN     0.641026
Andorra          9.000000e+06                     121.0    88.695650

In [9]:
# With this dataset clean and ready for enrichment, let's look at some metrics 
Energy.describe()

       Energy Supply  Energy Supply per Capita  % Renewable
count   2.220000e+02                222.000000   227.000000
mean    2.457982e+09                 90.666667    28.086077
std     1.103915e+10                116.234887    31.903505
min     0.000000e+00                  2.000000     0.000000
25%     3.300000e+07                 21.250000     0.022893
50%     1.895000e+08                 51.000000    14.814810
75%     9.962500e+08                117.750000    50.168620
max     1.271910e+11                957.000000   100.000000

Now we are going to load information from the [World Bank](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD) on the GDP of countries. 

We will do the necessary cleaning and limit with a specific range of years between 2006-2015

In [11]:
# Skip some rows and select the header information
GDP = pd.read_csv('world_bank.csv', skiprows = 3, header = 1)
GDP.replace({"Korea, Rep.": "South Korea", 
         "Iran, Islamic Rep.": "Iran",
         "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
GDP=GDP.set_index('Country Name')
columns_to_keep = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
   '2014', '2015']
GDP = GDP[columns_to_keep]
GDP.head()

                      2006          2007  ...          2014          2015
Country Name                              ...
Aruba                  NaN           NaN  ...           NaN           NaN
Andorra       4.018196e+09  4.021331e+09  ...           NaN           NaN
Afghanistan   1.030523e+10  1.172119e+10  ...  1.999032e+10  2.029415e+10
Angola        5.581103e+10  6.842044e+10  ...  1.008863e+11  1.039106e+11
Albania       9.771760e+09  1.034829e+10  ...  1.279331e+10  1.312082e+10

[5 rows x 10 columns]

Finally, we load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](https://www.scimagojr.com/countryrank.php?category=2102) which ranks countries based on their journal contributions in the aforementioned area. In this DataFrame, we want keep only the top 15 contries by rank.

In [13]:
ScimEn = pd.read_excel('scimagojr-3.xlsx', header = 0)
ScimEn=ScimEn.set_index('Country')
ScimEn.head()

                    Rank  Documents  ...  Citations per document  H index
Country                              ...
China                  1     127050  ...                    4.70      138
United States          2      96661  ...                    8.20      230
Japan                  3      30504  ...                    7.31      134
United Kingdom         4      20944  ...                    9.84      139
Russian Federation     5      18534  ...                    1.85       57

[5 rows x 7 columns]

In [14]:
# We want to keep the top 15 countries
ScimEn=ScimEn[ScimEn['Rank'].le(15)]
ScimEn

                    Rank  Documents  ...  Citations per document  H index
Country                              ...
China                  1     127050  ...                    4.70      138
United States          2      96661  ...                    8.20      230
Japan                  3      30504  ...                    7.31      134
United Kingdom         4      20944  ...                    9.84      139
Russian Federation     5      18534  ...                    1.85       57
Canada                 6      17899  ...                   12.01      149
Germany                7      17027  ...                    8.26      126
India                  8      15005  ...                    8.58      115
France                 9      13153  ...                    9.93      114
South Korea           10      11983  ...                    9.57      104
Italy                 11      10964  ...                   10.20      106
Spain                 12       9428  ...                   13.08      115
Iran                  13       8896  ...                    6.46       72
Australia             14       8831  ...                   10.28      107
Brazil                15       8668  ...                    7.00       86

[15 rows x 7 columns]

## Join data and transform it 
At this point we have already loaded and cleaned 3 different datasets. Our data is stored in 3 pandas DataFrames where we have conditioned the information to be able to work them together.

Now we will create a DataFrame that is the result of the union of our data. This new DataFrame has the information of countries related to: Their energy production, GDP between 2006-2015 of the top 15 countries ranked by their journal contributions in the area of Energy Engineering and Power Technology

In [15]:
df = pd.merge(ScimEn,Energy, how='inner', left_index = True, right_index = True)
df=pd.merge(df,GDP,how='inner',left_index=True,right_index=True)
df.head()

           Rank  Documents  ...          2014          2015
Australia    14       8831  ...  1.272520e+12  1.301251e+12
Brazil       15       8668  ...  2.412231e+12  2.319423e+12
Canada        6      17899  ...  1.773486e+12  1.792609e+12
China         1     127050  ...  8.230121e+12  8.797999e+12
France        9      13153  ...  2.729632e+12  2.761185e+12

[5 rows x 20 columns]

In [16]:
df.shape

(15, 20)

In [17]:
df.describe()

            Rank      Documents  ...          2014          2015
count  15.000000      15.000000  ...  1.500000e+01  1.400000e+01
mean    8.000000   27703.133333  ...  3.562304e+12  3.875826e+12
std     4.472136   35131.532962  ...  3.996887e+12  4.185453e+12
min     1.000000    8668.000000  ...  4.639027e+11  1.266580e+12
25%     4.500000   10196.000000  ...  1.527157e+12  1.660264e+12
50%     8.000000   15005.000000  ...  2.200617e+12  2.343315e+12
75%    11.500000   19739.000000  ...  3.177009e+12  3.454463e+12
max    15.000000  127050.000000  ...  1.615662e+13  1.654857e+13

[8 rows x 20 columns]


Here we can extract valuable information for an analysis, for example:
* We have the top 15 countries ranked for their journal contributions in Energy Engineering and Power Technology. These countries are a reference for the world in research and technological advancement in this area.
* Of these countries, the average per capita Energy Supply is 157.6 gigajoules where on average 22.8% is renewable. The highest value of renewable energy is 69.64%

In [19]:
# What country has the maximum % Renewable and what is the percentage?
max_renewable=df['% Renewable'].max()
(df[df['% Renewable']==max_renewable].index[0], max_renewable)

('Brazil', 69.64803)

In [20]:
# What country has the minimum % Renewable and what is the percentage?
min_renewable=df['% Renewable'].min()
(df[df['% Renewable']==min_renewable].index[0], min_renewable)

('South Korea', 2.279353)

With an investigation in [Our world indata](https://ourworldindata.org) we see that a large percentage of energy in South Korea comes from Oil, Coal and gas:
![imagen.png]()

On the other hand, clearly Brazil produces energy from these sources but hydroelectric energy occupies a large percentage (along with other renewable energies). **Both data come from Energy Consumption by source**

![imagen.png]()

In [22]:
# We are going to add some columns that would be interesting to have in our df 
# Let's do some simple calculations 

# Population by country estimates using energy supply and energy per capita:
df['Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
df.sort_values(by='Population',ascending=False)

                    Rank  Documents  ...          2015    Population
China                  1     127050  ...  8.797999e+12  1.367645e+09
India                  8      15005  ...  2.367206e+12  1.276731e+09
United States          2      96661  ...  1.654857e+13  3.176154e+08
Brazil                15       8668  ...  2.319423e+12  2.059153e+08
Russian Federation     5      18534  ...  1.616149e+12  1.435000e+08
Japan                  3      30504  ...  5.669563e+12  1.274094e+08
Germany                7      17027  ...  3.685556e+12  8.036970e+07
Iran                  13       8896  ...           NaN  7.707563e+07
United Kingdom         4      20944  ...  2.666333e+12  6.387097e+07
France                 9      13153  ...  2.761185e+12  6.383735e+07
Italy                 11      10964  ...  2.049316e+12  5.990826e+07
South Korea           10      11983  ...  1.266580e+12  4.980543e+07
Spain                 12       9428  ...  1.419821e+12  4.644340e+07
Canada                 6      17899  ...  1.792609e+12  3.523986e+07
Australia             14       8831  ...  1.301251e+12  2.331602e+07

[15 rows x 21 columns]

Clearly, if a country produces more energy than that consumed per capita, that is, it has greater energy capacity than demanded, in our estimate it will have a "larger population." We see that China, India, the United States and Brazil are ours the countries with the largest population

In [23]:
# Let's see which country has the highest ratio of self citations to total citations 
df['Self/total Citations ratio']=df['Self-citations']/(df['Citations'])
max_ratio=df['Self/total Citations ratio'].max()
country_name=df[df['Self/total Citations ratio'] == max_ratio].index[0]
(country_name, max_ratio)

('China', 0.6893126179389422)

In [29]:
# Let's see the behavior by continent. We will group the countries according to their continents 
ContinentDict  = {'China':'Asia', 
              'United States':'North America', 
              'Japan':'Asia', 
              'United Kingdom':'Europe', 
              'Russian Federation':'Europe', 
              'Canada':'North America', 
              'Germany':'Europe', 
              'India':'Asia',
              'France':'Europe', 
              'South Korea':'Asia', 
              'Italy':'Europe', 
              'Spain':'Europe', 
              'Iran':'Asia',
              'Australia':'Australia', 
              'Brazil':'South America'}
df['Continent']=df.index.map(ContinentDict)

new_df = pd.DataFrame({'size': df.groupby('Continent').count()['Rank'],
                    'sum': df.groupby('Continent').sum()['Population'],
                    'mean': df.groupby('Continent').mean()['Population'],
                    'std': df.groupby('Continent').std()['Population']})
new_df

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN